footer
	.container
		.title-footer Worldwide Dental & Cosmetic Surgery Hospital
		.row.no-gutters.list-info
			.col-lg-auto
				ul.list-address
					li.item ĐC: 244a CỐNG QUỲNH , QUẬN 1, TP.HỒ CHÍ MINH
					li.item ĐT: 1800 823 058
			.col-no-rel
				ul.list-link
					.item
						a(href="#") NÂNG NGỰC 6.0
					.item
						a(href="#") CHƯƠNG TRÌNH KHUYẾN MÃI
					.item
						a(href="#") HÌNH ẢNH KHÁCH HÀNG
					.item
						a(href="#") CƠ SỞ HẠ TẦNG
	#button-to-top
		img.svg(src="./assets/images/icons/button-to-top.svg", alt="", srcset="")
.copy-right
	p Copyright© 2018 Dental Website. All Rights Reserved.