header
	.container
		.row.no-gutters
			.logo
				img(src="./assets/images/logo.png", alt="", srcset="")
			.list-nav
				.item-nav
					a(href="#") nâng ngực 6.0
				.item-nav
					a(href="#") chương trình khuyến mãi
				.item-nav
					a(href="#") hình ảnh khách hàng
				.item-nav
					a(href="#") cơ sở hạ tầng