.block-subscribe.wow.fadeIn(data-wow-delay=".2s")
	.container
		.subscribe
			.block-form
				form(action="#")
					.form-row
						.form-group.col-lg-3
							.input-group
								input#name(type="text" placeholder="Họ Tên*")
						.form-group.col-lg-3
							.input-group
								input#phone(type="text" placeholder="Điện thoại*")
						.form-group.col-lg-3
							.input-group
								input#email(type="text" placeholder="Email*")
						.form-group.col-lg-3
							.input-group
								button#submit-form(data-url="#") Nhận Ưu Đãi Ngay