.error-404 {
	position: relative;
	width   : 100%;
	height  : 100vh;
	overflow: hidden;

	.box-content {
		position : absolute;
		top      : 50%;
		left     : 50%;
		transform: translate(-50%, -50%);

		figure {
			img {
				display: block;
				margin : 0 auto;
			}

			figcaption {
				margin-top: 50px;
				text-align: center;

				h3 {
					color        : #f68b3c;
					font-size    : 24px;
					margin-bottom: 15px;
				}

				p {
					font-size: 18px;
					color    : #444444;

					span {
						margin-left: 15px;
						color      : red;
					}
				}
			}
		}
	}


	@media (max-width: 767.98px) {
		.box-content {
			figure {
				figcaption {
					h3 {
						font-size: 18px;
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.index-1 {
	position: relative;

	figure {
		position: relative;

		.box-img {
			height  : 750px;
			overflow: hidden;

			img {
				width: 100%;

				transition      : 1s all ease-in-out;
				transform-origin: 0 0;
				animation       : leaves 5s ease-in-out infinite alternate;

				@-webkit-keyframes leaves {
					0% {
						-webkit-transform: scale(1);
					}

					100% {
						-webkit-transform: scale(1.025);
					}
				}

				@keyframes leaves {
					0% {
						transform: scale(1);
					}

					100% {
						transform: scale(1.025);
					}
				}
			}
		}

		figcaption {
			position : absolute;
			top      : 50%;
			left     : 227px;
			transform: translateY(-50%);
			color    : #ffffff;

			h3 {
				font-size : 30px;
				margin-top: 40px;
			}

			ul {
				margin-top: 10px;

				li {
					position     : relative;
					font-size    : 24px;
					margin-bottom: 5px;
					font-weight  : 100;
					padding-left : 30px;

					&:after {
						content         : '';
						position        : absolute;
						left            : 0;
						top             : 50%;
						transform       : translateY(-50%);
						width           : 11px;
						height          : 11px;
						background-image: url(../assets/images/icons/dot.svg);
					}
				}
			}

			p {
				margin-top    : 20px;
				letter-spacing: 5px;
				font-size     : 24px;
				font-weight   : 100;
			}
		}
	}

	@media (max-width: 1024.98px) {
		figure {
			.box-img {
				height: auto;
			}

			figcaption {
				left: 30px;

				img {
					width: 50%;
				}

				h3 {
					font-size : 18px;
					margin-top: 25px;
				}

				ul {
					margin-top: 10px;

					li {
						font-size: 16px;
					}
				}

				p {
					font-size: 16px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		figure {
			height: auto;

			.box-img {
				position: relative;
			}

			figcaption {
				position : absolute;
				left     : 0;
				top      : 0;
				transform: none;
				width    : 100%;
				height   : 100%;

				img {
					position : absolute;
					left     : 10px;
					top      : 50%;
					transform: translateY(-50%);
				}

				h3 {
					position: absolute;
					top     : 30px;
					right   : 10px;

					font-size : 14px;
					margin-top: 0;
				}

				ul {
					position  : absolute;
					right     : 10px;
					top       : 60px;
					margin-top: 5px;

					li {
						font-size   : 12px;
						padding-left: 10px;

						&:after {
							width          : 5px;
							height         : 5px;
							background-size: cover;
						}
					}
				}

				p {
					position      : absolute;
					bottom        : 10px;
					right         : 10px;
					font-size     : 14px;
					letter-spacing: 2px;
				}
			}
		}
	}

	@media (max-width: 320px) {
		figure {
			height: auto;

			.box-img {
				position: relative;
			}

			figcaption {

				img {
					width: 40%;
				}

				h3 {
					top: 10px;
				}

				ul {
					top: 35px;
				}

				p {
					font-size     : 13px;
					letter-spacing: 2px;
					margin-top    : 0;
				}
			}
		}
	}
}

.index-2 {
	position     : relative;
	margin-bottom: 146px;
	padding-top  : 87px;

	.list-item-sale {
		margin: 98px -5px 0;

		.item-sale {
			cursor : pointer;
			padding: 0 5px;

			figure {
				.box-img {
					overflow: hidden;

					img {
						transition: .3s all ease-in-out;
					}
				}

				figcaption {
					margin: 25px 15px;

					p {
						color      : #484848;
						text-align : center;
						font-weight: 100;
					}
				}
			}

			@media (min-width: 1440px) {
				&:hover {
					figure {
						.box-img {
							img {
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
	}

	&:after {
		content       : '';
		position      : absolute;
		width         : 100%;
		height        : 50%;
		top           : 0;
		left          : 0;
		background    : #F9F9F9;
		z-index       : -1;
		pointer-events: none;
	}

	@media (max-width: 1024.98px) {
		margin: 50px 0;

		.list-item-sale {
			margin: 25px -5px 0;

			.item-sale {
				figure {
					.box-img {
						height: auto;
					}

					figcaption {
						margin: 15px 0 0 0;

						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;

		.list-item-sale {
			.item-sale {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}

				figure {
					figcaption {
						margin: 15px 0 0 0;

						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.index-3 {
	position           : relative;
	padding            : 110px 0;
	background-image   : url(../assets/images/index/bg-index-3.png);
	background-size    : cover;
	background-position: center;

	.form-group {
		margin-bottom: 15px;

		.input-group {
			input {
				width         : 100%;
				border        : none;
				border-bottom : 1px solid rgba($color: #E1E1E1, $alpha: .6);
				background    : none;
				color         : #E1E1E1;
				padding-bottom: 10px;

				&::placeholder {
					color: #E1E1E1;
				}
			}
		}

		&:last-child {
			margin: 30px auto 0;
			width : 255px;
		}
	}

	.block-form-index-3 {
		margin       : 0 280px;
		border       : 10px solid rgba($color: #8A0D72, $alpha: .2);
		background   : rgba($color: #8A0D72, $alpha: .2);
		border-radius: 0 30px 0 30px;
		box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: .16);

		.block-form {
			width              : 100%;
			box-shadow         : 0 3px 6px rgba($color: #000000, $alpha: .16);
			background         : rgba($color: #8A0D72, $alpha: .2);
			padding            : 44px 92px 52px;
			border-radius      : 0 20px 0 20px;
			background-image   : url(../assets/images/index/bg-block-form-index-3.png);
			background-size    : cover;
			background-position: center;

			.title-form {
				text-align    : center;
				font-size     : 26px;
				font-weight   : 700;
				color         : #E1E1E1;
				padding-bottom: 20px;
				border-bottom : 1px solid rgba($color: #E1E1E1, $alpha: .6);
			}

			.desc {
				text-align   : center;
				margin-top   : 20px;
				color        : #FFFFFF;
				margin-bottom: 40px;
			}

			form {
				width : 635px;
				margin: 0 auto;
			}
		}
	}

	@media (max-width: 1440px) {
		.block-form-index-3 {
			margin: 0 80px;
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.form-group {
			margin-bottom: 15px;

			&:last-child {
				text-align: center;
				width     : 100%;
			}
		}

		.block-form-index-3 {
			margin: 0 auto;

			.block-form {
				padding: 25px;

				.title-form {
					font-size     : 24px;
					padding-bottom: 15px;
				}

				.desc {
					font-size: 16px;
					margin   : 15px 0;
				}

				form {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.form-group {
			.input-group {
				input {
					font-size: 14px;
				}
			}

			&:last-child {
				width: 100%;

				button {
					width: 70%;
				}
			}
		}

		.block-form-index-3 {
			.block-form {
				padding: 15px;

				.title-form {
					font-size     : 16px;
					padding-bottom: 10px;
				}

				.desc {
					font-size: 13px;
					margin   : 10px 0;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.block-form-index-3 {
			.block-form {
				.title-form {
					font-size     : 11px;
					padding-bottom: 10px;
				}

				.desc {
					font-size: 11px;
				}
			}
		}
	}
}

.index-4 {
	position: relative;
	padding : 160px 0 93px;

	.slider-before-after {
		position: relative;
		margin  : 103px 135px 0;

		figure {
			.block-image {
				border       : 15px solid rgba($color: #8A0D72, $alpha: .2);
				background   : rgba($color: #8A0D72, $alpha: .2);
				border-radius: 0 30px 0 30px;

				.image {
					border-radius: 0 15px 0 15px;
					overflow     : hidden;
					box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: .16);
				}
			}

			figcaption {
				margin: 50px 90px 0;

				p {
					text-align   : center;
					font-style   : italic;
					color        : #484848;
					font-size    : 18px;
					margin-bottom: 5px;
					font-weight  : 100;
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			width          : 51px;
			height         : 95px;
			background-size: cover;
			top            : 380px;
		}

		.swiper-button-next {
			background-image: url(../assets/images/icons/next.svg);
			right           : -50px;
		}

		.swiper-button-prev {
			background-image: url(../assets/images/icons/prev.svg);
			left            : -50px;
		}
	}

	@media (max-width: 1440px) {
		.slider-before-after {

			.swiper-button-next,
			.swiper-button-prev {
				top: 240px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.slider-before-after {
			margin: 25px 0 0;

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}

			figure {
				figcaption {
					margin: 15px auto 0;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.slider-before-after {
			figure {
				figcaption {
					p {
						font-size    : 14px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	&:after {
		content       : '';
		position      : absolute;
		width         : 100%;
		height        : 50%;
		top           : 0;
		left          : 0;
		background    : #F9F9F9;
		z-index       : -1;
		pointer-events: none;
	}
}

.index-5 {
	padding   : 115px 0;
	background: #F9F9F9;

	.list-infrastructure {
		display  : flex;
		flex-wrap: wrap;
		margin   : 97px 120px 0;
		overflow : auto;

		.item {
			flex         : 0 0 50%;
			max-width    : 50%;
			padding      : 0 5px;
			cursor       : pointer;
			margin-bottom: 10px;

			figure {
				overflow: hidden;

				img {
					width     : 100%;
					height    : auto;
					transition: .3s all ease-in-out;
				}
			}

			@media (min-width: 1440px) {
				&:hover {
					figure {

						img {
							transform: scale(1.1);
						}
					}
				}
			}

		}
	}

	@media (max-width: 1024px) {
		padding: 50px 0;

		.list-infrastructure {
			margin: 25px auto 0;
		}
	}

	@media (max-width: 767.98px) {
		.list-infrastructure {
			.item {
				flex     : 0 0 100%;
				max-width: 100%;
			}
		}
	}
}