doctype html

html(lang="en")
	head
		title 404 Page
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet")
	body
		main
			.error-404
				.box-content
					figure
						img(src="./assets/images/logo.png", alt="", srcset="")
						figcaption
							h3 Website đang bảo trì
							p Bạn vui lòng trở lại trong ít phút nữa.