.index-1
	figure
		.box-img
			img.ofc(src="./assets/images/index/main-banner.png", alt="", srcset="")
		figcaption
			img(src="./assets/images/index/item-baner.png", alt="")
			h3.wow.fadeInUp(data-wow-delay=".4s") NÂNG NGỰC 6.0 LÀ GÌ?
			ul.list-content
				li.item.wow.fadeInLeft(data-wow-delay="1s") Không Mặc Áo Định Hình
				li.item.wow.fadeInLeft(data-wow-delay="1.5s") Không Ống Dẫn Lưu
				li.item.wow.fadeInLeft(data-wow-delay="2s") Không Bang Ép
				li.item.wow.fadeInLeft(data-wow-delay="2.5s" data-wow-offset=-1000) Không Cần Áo Ngực
				li.item.wow.fadeInLeft(data-wow-delay="3s" data-wow-offset=-1000) Không Chạm Vào Túi Ngực
			p.wow.fadeInLeft(data-wow-delay="4s" data-wow-offset=-1000) Từ ngày 01.12 - 31.12