.index-2
	.container
		.title
			h3 CHƯƠNG TRÌNH KHUYẾN MÃI
			.more-title
				span WORLDWIDE HOSPITAL
		.list-item-sale.row
			-for(i=1;i<4;i++)
				.item-sale.col-md-4
					figure
						img(src="./assets/images/index/item-sale-"+i+".png", alt="", srcset="")
						figcaption
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean commodo ligula eget dolor.