.index-3#index-3
	.container
		.block-form-index-3
			.block-form
				.title-form.wow.fadeIn(data-wow-delay=".2s") NHẬN NGAY ƯU ĐÃI ĐẶC BIỆT
					br
					| CHỈ TRONG THÁNG 12
				.desc Để được hỗ trợ MIỄN PHÍ và NHANH NHẤT, Quý khách hãy cung cấp thông tin
					br
					| bên dưới. WORLDWIDE cam kết mọi thông tin là bảo mật.
				form(action="#")
					.form-group
						.input-group
							input(type="text" placeholder="TÊN")
					.form-group
						.input-group
							input(type="text" placeholder="ĐIỆN THOẠI")
					.form-group
						.input-group
							input(type="text" placeholder="EMAIL")
					.form-group
						button NHẬN ƯU ĐÃI NGAY