.index-4#index-4
	.container
		.title.wow.fadeInUp(data-wow-delay=".2s")
			h3 HÌNH ẢNH KHÁCH HÀNG
			.more-title
				span WORLDWIDE HOSPITAL
		.slider-before-after
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.block-image
								.image
									img.ofc(src="./assets/images/index/item-before-after-1.png", alt="", srcset="")
							figcaption
								p "Bước ra từ Worldwide, tôi đã có một cuộc sống mới với sự tự tin và thoải mái. Tôi tự tin vì tôi đẹp, tôi được tỏa sáng theo cách riêng của tôi! Tôi thoải mái vì tôi hạnh phúc với lựa chọn của mình, vì sức khỏe tôi được đảm bảo khi chọn dịch vụ tại Bệnh viện Thẩm mỹ Worldwide!"
					.swiper-slide
						figure
							.block-image
								.image
									img.ofc(src="./assets/images/index/item-before-after-2.png", alt="", srcset="")
							figcaption
								p "Mỗi sáng thức dậy, tôi luôn ngắm mình trước gương và thầm cảm ơn những gì mà Worldwide đã mang đến. Cuộc sống tôi đổi thay với nhiều cơ hội mới, vẻ đẹp mà các bác sĩ Worldwide mang lại giúp con đường tôi đi rộng mở hơn! Worldwide chính là sự lựa chọn đúng đắn của tôi!"
			.swiper-button-next
			.swiper-button-prev